<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>selectedPid</key>
	<string>com.crtvup.kfysy.product.6coins</string>
	<key>products</key>
	<dict>
		<key>productIds</key>
		<array>
			<string>com.crtvup.kfysy.product1</string>
			<string>com.crtvup.kfysy.product2</string>
			<string>com.crtvup.kfysy.product3</string>
			<string>com.crtvup.kfysy.product4</string>
			<string>com.crtvup.kfysy.product5</string>
			<string>com.crtvup.kfysy.product6</string>
		</array>
		<key>productPrices</key>
		<array>
			<integer>6</integer>
			<integer>12</integer>
			<integer>18</integer>
			<integer>30</integer>
			<integer>50</integer>
			<integer>98</integer>
		</array>
	</dict>
</dict>
</plist>
