<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>selectedPid</key>
	<string>com.crtvup.kfysy.product1</string>
	<key>productIds</key>
	<array>
		<string>com.crtvup.kfysy.product1</string>
		<string>com.crtvup.kfysy.product2</string>
		<string>com.crtvup.kfysy.product3</string>
		<string>com.crtvup.kfysy.product4</string>
		<string>com.crtvup.kfysy.product5</string>
		<string>com.crtvup.kfysy.product6</string>
	</array>
</dict>
</plist>
